

h1 {
    text-align: center;
    font-weight: normal;
    font-size: 5em;
    text-decoration: underline;
    color:orchid;
}
h2 {
    font-size: 2em;
    text-decoration: underline;
    color:orchid;
}
table, th, td {
    border:1px solid orchid;
    color:rgb(151, 26, 182);
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }
  
  li a {
    display: block;
    color: rgb(151, 26, 182);
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: darkmagenta;
    color: white;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }